<!DOCTYPE html>
<html>
<head>
    <title>My App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <style>
        * {
            font-family: 'Lato', sans-serif;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row valign-wrapper">
        <div class="col s8 m12 offset-s2 valign">
            <h3 class="center-align" style="margin-top: 25%">Chassis Framework ver.1.0</h3>
            <p class="center-align">{{ welcome }}</p>
        </div>
    </div>
</div>
</body>
</html>